.course-materials {
    grid-area: 2 / 1 / 3 / 5;
    margin-top: 20px;
}

/* Flexbox wrapper to hold the two boxes */
.materials-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
    box-shadow: 0px 0px 30.5px 15px rgba(0, 0, 0, 0.04);

}

/* Each box */
.materials-container {
    flex: 1;
    background-color: #FFF;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 0px;

    width: 250px; /* Adjust width if needed */
}
/* Each item inside the box */
.material-item {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}